<!DOCTYPE html>
<html lang="en">
<head>
<title>GoodCook | About</title>
<meta charset="utf-8">
<link rel="stylesheet" href="~/Content/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Adamina' rel='stylesheet' type='text/css'>
<script src="~/Scripts/jquery-1.6.3.min.js" type="text/javascript"></script>
<script src="~/Scripts/cufon-yui.js" type="text/javascript"></script>
<script src="~/Scripts/cufon-replace.js" type="text/javascript"></script>
<script src="~/Scripts/Lobster_13_400.font.js" type="text/javascript"></script>
<script src="~/Scripts/NewsGoth_BT_400.font.js" type="text/javascript"></script>
<script src="~/Scripts/FF-cash.js" type="text/javascript"></script>
<script src="~/Scripts/easyTooltip.js" type="text/javascript"></script>
<script src="~/Scripts/script.js" type="text/javascript"></script>
<script src="~/Scripts/bgSlider.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>
<body id="page2">
<div id="bgSlider"></div>
<div class="bg_spinner"></div>
<div class="extra">
  <!--==============================header=================================-->
  <header>
    <div class="top-row">
      <div class="main">
        <div class="wrapper">
          <h1><a href="index.cshtml">GoodCook</a></h1>
          <ul class="pagination">
            <li class="current"><a href="~/images/bg-img1.jpg">1</a></li>
            <li><a href="~/images/bg-img2.jpg">2</a></li>
            <li><a href="~/images/bg-img3.jpg">3</a></li>
          </ul>
          <strong class="bg-text">Background:</strong> </div>
      </div>
    </div>
    <div class="menu-row">
      <div class="menu-border">
        <div class="main">
          <nav>
            <ul class="menu">
              <li><a href="index.cshtml">Main</a></li>
              <li><a class="active" href="about.cshtml">About Us</a></li>
              <li><a href="courses.cshtml">Courses</a></li>
              <li><a href="recipes.cshtml">New Recipes</a></li>
              <li><a href="calendar.cshtml">Calendar</a></li>
              <li class="last"><a href="contacts.cshtml">Contacts</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!--==============================content================================-->
  <div class="inner">
    <div class="main">
      <section id="content">
        <div class="indent">
          <div class="wrapper">
            <article class="col-1">
              <div class="indent-left">
                <h3>A Few Words About Us</h3>
                <h6>cookbook </h6>
                <p>Writing a cookbook is often a dream of the avid home cook.Recipes are a treasure trove of experience, history, and love all rolled into one. We Start with a broad idea of what we like our cookbook to be about. Organize and refine the recipes that we want to use in the book and have people test our recipes</p>
                <div class="wrapper p3">
                  <figure class="img-indent"><img src="~/images/page2-img1.jpg" alt="" /></figure>
                  <div class="extra-wrap">
                    <h6>Here are some tips that will be helpful:</h6>
                    <p class="p1">All ingredients should be listed in order of use. Indicate if they are chopped, minced, melted, etc.
Contributors should be sure to include accurate package sizes and to provide the pan sizes needed for each recipe. Measurements should be as precise as possible.
Baking times should be accurate and give a test for doneness. (e.g., Bake for 45 to 50 minutes, until golden. Cool completely, then cover and refrigerate overnight.)
Indicate whether to cook a recipe covered or not.
Indicate if you can make it ahead of time and if it can be frozen and/or reheated.</p>
                    
                </div>
              </div>
              <div class="bg">
                <div class="padding">
                  <h3>Why Choose Us</h3>
                  <h6>we have made carefully considered choices about how we operate. We hope they make your choice of a food service provider easier. At Chadwick, we are committed to healthy, quality food and service that sets us apart.</h6>
                  <p class="p1">Quality Food we have, <span class="color-3">Healthy Food</span>, Service & Innovation</p>
                  <div class="wrapper">
                    <div class="column-1">
                      <ul class="list-1">
                        <li>always have healthy choices available</li>
                        <li>promote$ encourage healthy food choices</li>
                        <li>prepare our menus the healthiest way possible</li>
                        <li>the highest quality ingredients,inspect them for freshness$suitability</li>
                      </ul>
                    </div>
                    <div class="column-2">
                      <ul class="list-1">
                        <li>thoroughly test and standardize our recipes</li>
                        <li>take care to meet the highest standards in each stage of our food</li>
                        <li>continually improve food recipies</li>
                        <li>listen and receive new ideas and feedback openly</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="col-2">
              <h3 class="border-bot">Testimonials</h3>
              <blockquote>&quot;“I want to thank you for continuously producing great content. Yours are quite literally one of the only blogs that I read consistently.” &quot;</blockquote>
              <div class="alignright img-indent-bot"> <strong class="color-3">Jane Bane</strong> </div>
              <blockquote>&quot;I found it challenging at first to write a cookbook review, but the more cookbook reviews I wrote, the more impartial I became.  Not all cookbook reviews will be identical as authors have different writing styles and guidelines.&quot;</blockquote>
              <div class="alignright img-indent-bot"> <strong class="color-3">William Hampton</strong> </div>
              <blockquote>&quot;My passion for collecting cookbooks led me to writing cookbook reviews.  I just love browsing through a cookbook, placing  sticky notes on the pages of the recipes I want to make,  admiring the photos and reading the anecdotes (if any)&quot;</blockquote>
              <div class="alignright img-indent-bot"> <strong class="color-3">Harry Wallet</strong> </div>
              <blockquote>&quot;All techniques are well-defined,photos were clear and content was nicely described&quot;</blockquote>
              <div class="alignright"> <strong class="color-3">Dominic Paulo</strong> </div>
            </article>
          </div>
        </div>
      </section>
      <div class="block"></div>
    </div>
  </div>
</div>
<!--==============================footer=================================-->
<footer>
  <div class="padding">
    <div class="main">
      <div class="wrapper">
        <div class="fleft footer-text"> Copyright &copy; <a href="#">Domain Name</a> All Rights Reserved <strong> Design by <a target="_blank" href="http://www.templatemonster.com/">TemplateMonster.com</a></strong> </div>
        <ul class="list-services">
          <li>Link to Us:</li>
          <li><a class="tooltips" href="#"></a></li>
          <li class="item-1"><a class="tooltips" href="#"></a></li>
          <li class="item-2"><a class="tooltips" href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>