<!DOCTYPE html>
<html lang="en">
<head>
<title>GoodCook | About</title>
<meta charset="utf-8">
<link rel="stylesheet" href="~/Content/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="~/Content/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Adamina' rel='stylesheet' type='text/css'>
<script src="~/Scripts/jquery-1.6.3.min.js" type="text/javascript"></script>
<script src="~/Scripts/cufon-yui.js" type="text/javascript"></script>
<script src="~/Scripts/cufon-replace.js" type="text/javascript"></script>
<script src="~/Scripts/Lobster_13_400.font.js" type="text/javascript"></script>
<script src="~/Scripts/NewsGoth_BT_400.font.js" type="text/javascript"></script>
<script src="~/Scripts/FF-cash.js" type="text/javascript"></script>
<script src="~/Scripts/easyTooltip.js" type="text/javascript"></script>
<script src="~/Scripts/script.js" type="text/javascript"></script>
<script src="~/Scripts/bgSlider.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>
<body id="page2">
<div id="bgSlider"></div>
<div class="bg_spinner"></div>
<div class="extra">
  <!--==============================header=================================-->
  <header>
    <div class="top-row">
      <div class="main">
        <div class="wrapper">
          <h1><a href="index.cshtml">GoodCook</a></h1>
          <ul class="pagination">
            <li class="current"><a href="~/images/bg-img1.jpg">1</a></li>
            <li><a href="~/images/bg-img2.jpg">2</a></li>
            <li><a href="~/images/bg-img3.jpg">3</a></li>
          </ul>
          <strong class="bg-text">Background:</strong> </div>
      </div>
    </div>
    <div class="menu-row">
      <div class="menu-border">
        <div class="main">
          <nav>
            <ul class="menu">
              <li><a class="active"href="index.cshtml">Main</a></li>
              <li><a  href="about.cshtml">About Us</a></li>
              <li><a href="courses.cshtml">Courses</a></li>
              <li><a href="recipes.cshtml">New Recipes</a></li>
              <li><a href="calendar.cshtml">Calendar</a></li>
              <li class="last"><a href="contacts.cshtml">Contacts</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!--==============================content================================-->
  <fieldset>
  <center>
 <table border="3px" width="400px" height="250px" color="black">
 <tr align="center">
<td colspan="2"><center>
<h3 align="center"><font size="20px"><strong>Sign up!</strong></font></h3>
<form method="post">
<table border="3px" width="400px" height="250px" color="black">>
<tr>
<td><input type="text" name="Fname" size="22" maxlength="15" placeholder="First name"required></td><br>
<td><input type="text" name="Lname" size="22" maxlength="15" placeholder="Last name" required>
</td>
</tr>
<tr>
<td colspan="2" size="%100"><input type="email" name="email" size="50" maxlength="25" placeholder="Enter e-mail" required>
</td>
</tr>
<br>
<tr>
<td colspan="2" size="%100"><input type="email" name="1email" size="50" maxlength="25" placeholder="Re enter e-mail" required>
</td>
</tr>
<br>
<tr>
<td colspan="2" size="%100"><input type="password" name="psw" size="50" maxlength="25" placeholder="new password" required>
</td>
</tr>
<br>
<tr>
<td colspan="2" size="%100"><b>Birthday:</b>
</td>
</tr>
<br>
<tr>
<td colspan="2" size="%100"><table><tr>
<td>day:<select><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select></td><td>Month:<select><option value="11">01</option><option value="12">02</option><option value="13">03</option><option value="14">04</option><option value="15">05</option><option value="16">06</option><option value="17">07</option><option value="18">08</option><option value="19">09</option><option value="20">10</option></select></td><td>Year:<select><option value="21">2007</option><option value="22">2008</option><option value="23">2009</option><option value="24">2010</option><option value="25">2011</option><option value="26">2012</option><option value="27">2013</option><option value="28">2014</option><option value="29">2015</option><option value="30">2016</option></select></td></tr></table>
</td>
</tr>
<br>
<tr><td colspan="2"><b>Gender:</b></td></tr>
<tr><td colspan="2">
<table><tr><td>Male:<input type="radio" name="gen" value="31">
</td><td>Female:<input type="radio" name="gen" value="32"></td><td>Others<input type="radio" name="gen" value="33"></td></tr>
</table>
<br>
<tr><td><input type="submit"></td><td><input type="reset"></td></tr>
</table>
</form>
</center>
</td>
</tr>
</table>
<center>
<fieldset>
<!--==============================footer=================================-->
<footer>
  <div class="padding">
    <div class="main">
      <div class="wrapper">
        <div class="fleft footer-text"> Copyright &copy; <a href="#">Domain Name</a> All Rights Reserved <strong> Design by <a target="_blank" href="http://www.templatemonster.com/">TemplateMonster.com</a></strong> </div>
        <ul class="list-services">
          <li>Link to Us:</li>
          <li><a class="tooltips" href="#"></a></li>
          <li class="item-1"><a class="tooltips" href="#"></a></li>
          <li class="item-2"><a class="tooltips" href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>